.App .cookiesPage {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(222, 226, 234);
  }

.App .title-wrapper {
  position: relative;
  display: inline-block;
}

  .App .cookiesPage .Title {
    color: black;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 2.3px;
    padding: 5px 0px 5px 0px;
    margin: 0;
  }

  .App .cookiesPage .optionsBtns {
      position: absolute;
      width: 100%;
      bottom: 7px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
  }

  .App .cookiesPage .optionsBtns .greyBtn {
    transition: 0.3s;
    height: 25px;
    background-color: #585858;
    border-radius: 10px;
    border: 1px solid #585858;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 0 40px;
}

.App .cookiesPage .optionsBtns .greyBtn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.App .cookiesPage .optionsBtns .greyBtn p {
    font-size: 11px;
    letter-spacing: 0.5px;
}

.App .cookiesPage .settings-column .setting{
  margin: 5px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  width: 100px;
}

.App .cookiesPage .settings-column .setting  > p {
  font-size: 11px;
  margin-bottom: 3px;
  color: white;
}

.App .cookiesPage .settings-column:hover .setting{
  opacity: 1;
}


.App .cookiesPage .cookies-grid {
    display: grid;
    width: 98%;
    padding: 5px 2px 5px 2px;
    grid-template-columns: 55px 55px 55px 55px 55px;
    grid-template-rows: 65px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: center;
    height: 120px;
    overflow-y: scroll;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.App .cookiesPage .settings-column{
  position: absolute;
  background-color: rgb(128, 131, 137);
  z-index: 40;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 5px;
  height: 100%;
  padding-left: 3px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}


.App .cookiesPage .settings-column .settings-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  margin-right: 5px;
}

.App .cookiesPage .settings-column .settings-btn > img {
  position: absolute;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.App .cookiesPage .settings-column:hover {
  width: 30%;
  background-color: rgb(58, 58, 58);
  border-left: 3px solid black;
}

.App .cookiesPage .settings-column:hover .settings-btn {
  opacity: 0;
}

.App .cookiesPage .settings-column:hover .settings-btn > img {
  transform: translate(-50%, -50%) rotate(180deg);
}



.App .cookiesPage .website-search {
  transition: 0.5s;
  background-color: white;
  border-radius: 10px;
  border: none;
  font-size: 10px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  width: 130px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 5px;
}

.App .cookiesPage .website-search:focus{
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.App .cookiesPage .cookies {
  position: relative;
  width: 100%;
  margin-top: 5px;
}


.App .cookiesPage .cookies .top-bar{
  flex-direction: row;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.App .cookiesPage .delete-all-btn {
  position: absolute;
  width: 60px;
  height: 23px;
  bottom: 10px;
  background-color: rgb(196, 0 , 22);
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  transition: 0.5s;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;
}

.App .cookiesPage .settings-column:hover .delete-all-btn{
  opacity: 1;
}

.App .cookiesPage .delete-all-btn > p {
  bottom: 25px;
  right: -13px;
  position: absolute;
  width: 80px;
  background-color: black;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
  color: white;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  visibility: hidden;
  transition: 0.3s;
  font-size: 9px;
  opacity: 0;
}
.App .cookiesPage .delete-all-btn:hover > p{
  transition-delay: 1s;
  opacity: 1;
  visibility: visible;
}

.App .cookiesPage .delete-all-btn:hover{
  transform: scale(1.1);
}

.App .cookiesPage .delete-all-btn > img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  transition: 0.5s;
}

.App .cookiesPage .no-platforms{
  font-size: 13px;
  line-height: 80px;
}

