.dropdown {
    position: relative;
    height: 18px;
    width: 95px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    background-color: white;
    z-index: 2;
}

.dropdown .dropdown-icon {
    display: block; 
    right: 5%;
    top: 40%;
    position: absolute;
    width: 8px;
    cursor: pointer;
}


.dropdown .all-options {
    background-color: white;
    position: absolute;
    z-index: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    overflow-y: scroll;
    transition: 0.3s;
}


.dropdown .all-options p {
    border-radius: 3px;
    min-height: 15px;
    margin: 1px;
}

.dropdown .all-options p:hover{
    background-color: black;
    color: white;
}

.dropdown .chosen-option p {
    font-weight: 500;
    font-size: 10px;
    margin: 0;
    margin-left: 5px;
    width: 85px;
    line-height: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
