
.App .loginPage .Logo { 
  width: 35px;
  margin: 10px auto 0px auto;
}

.App .loginPage {
    border: 1px solid white;
    background-color: rgb(45, 67, 87);
  }

  .App .loginPage .Title {
    color: white;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 2.3px;
    margin: 0px 0px 10px 0px;
  }
  
  .App .loginPage .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .App .loginPage .loginForm input {
    text-align: center;
    color: black;
    text-decoration: none;
    width: 245px;
    margin: 3px auto;
    background-color: white;
    border: none;
    border-radius: 13px;
    height: 25px;
  }

  .App .loginPage .loginForm input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #343434;
    letter-spacing: 2px;
    font-size: 11px;
  }

  .App .loginPage .loginForm input[name="server"] {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 12px;
    
    border-bottom: 1px solid white;
    border-radius: 0;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 90px;
    height: 15px;
  }

  .App .loginPage .loginForm input[name="server"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e3dddd;
    letter-spacing: 1px;
    font-size: 10px;
  }

  .App .loginPage .loginForm input[name="server"]:hover {
    border-bottom: 1px solid black;
  }

  
  .App .loginPage .loginForm .loginBtn {
    transition: 0.2s;
    height: 28px;
    width: 100px;
    margin: 6px auto;
    background-color: rgb(134, 177, 161);
    border-radius: 11px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
  }
  
  .App .loginPage .loginForm .loginBtn:hover {
    background-color: white;
    color: rgb(134, 177, 161);
  }
  
  
  .App .loginPage .loginForm .loginBtn p {
    margin: auto;
    font-size: 12px;
    letter-spacing: 2px;
  }