.App .mainPage {
  transition: all .3s ease;
  background-color: rgb(222, 226, 234);
}

.App .mainPage .header {
  position: relative;
  height: 28px;
  background-color: black;
}

.App .mainPage .header .ConnectionIndicator {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.5s;
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.App .mainPage .header .Title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App .mainPage .header .Title img {
  height: 19px;
  margin-right: 5px;
}

.App .mainPage .header .Title p {
  color: white;
  font-size: 10px;
  font-weight: 550;
  letter-spacing: 2.3px;
  margin: 0;
}

.App .mainPage .Username {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.App .mainPage .logoutBtn {
  text-decoration: none;
  transition: 0.2s;
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 5px;
  width: 60px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  right: 5px;
  cursor: pointer;
  border: 1px solid white;
}

.App .mainPage .header .logoutBtn:hover {
  background-color: white;
  color: black;
}

.App .mainPage .header .logoutBtn p {
  font-size: 9px;
  font-weight: 500;
  margin: 0px 5px;
  letter-spacing: 1px;
}

.App .mainPage .center-section {
  height: 90px;
  background-color: white;
  margin: 8px 8px 0 8px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App .mainPage .center-section:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.App .mainPage .center-section .title {
  font-size: 12px;
  padding: 5px 0;
  margin: 0;
}


.App .mainPage .settings {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.App .mainPage .center-section {
  padding: 0 5px;
}

.App .mainPage .center-section .row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}




.App .mainPage .center-section .row .section{
  position: relative;
  width: 33%;
  height: 100%;
}
.App .mainPage .center-section .row .section > img{
  height: 30px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.App .mainPage .center-section .row .section > p{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-size: 11px;
}



.App .mainPage .center-section .row .separator{
  width: 1px;
  height: 90%;
  background-color: rgb(161, 157, 157);
  margin: 0 4px;
}


#wrapper {
	animation: pulse 1s infinite;
  height: 30px;
}


#pulsingheart { 
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translate(-50%); 
  width: 30px; 
  height: 30px;
} 

#pulsingheart #before, #pulsingheart #after { 
  position: absolute; 
  content: ""; 
  left: 15px; 
  transform: translateY(-50%);
  width: 15px; 
  height: 25px; 
  background: #aa0000; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
} 

#pulsingheart #after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}

@keyframes pulsecolor {
  10% {background: #dd0000}
}

