
.App .mainPage {
    
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .App .mainPage .Title {
    color: black;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 2.3px;
    margin: 0px 0px 10px 0px;
  }

  .App .mainPage .Banner {
    color: black;
    font-size: 9px;
    letter-spacing: 1.5px;
    font-weight: 450;
    margin: 10px 0px 0px 0px;
  }

  .App .mainPage .Username {
    color: black;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 550;
    margin: 0px;
  }

  .App .mainPage .dashboard {
    margin: 0px 0px 15px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
  }

  .App .mainPage .dashboard .settingsBtn {
    text-decoration: none;
    width: 55px;
    height: 55px;
    background-color: rgb(88, 88, 88);
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
  }

  .App .mainPage .dashboard .settingsBtn:hover {
    border: 1px solid white;
  }

  .App .mainPage .dashboard .settingsBtn .settingsIcon {
    height: 37px;
    margin: auto;
  }

  .App .mainPage .statusText {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    position: relative;
    top: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .App .mainPage .logoutBtn {
    transition: 0.2s;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 10px;
    display: inline-flex;
    position: relative;
    top: -23px;
    cursor: pointer;
    border: 1px solid black;
  }

  .App .mainPage .logoutBtn:hover {
    background-color: white;
    color: black;
  }

  .App .mainPage .logoutBtn p {
    font-size: 9px;
    font-weight: 500;
    margin: 0px 5px;
    letter-spacing: 1px;
  }
