.serverSelector {
    position: absolute;
    right: 5px;
    top: 3px;
    height: 20px;
    width: 110px;
    cursor: pointer;
    font-size: 10px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.5px;
    background-color: transparent;
} 

.serverSelector .dropdown-icon {
    display: block; 
    right: 0px;
    top: 35%;
    position: absolute;
    width: 8px;
    cursor: pointer;
}


.serverSelector .all-options {

    background-color: white;
    position: absolute;
    border: 1px solid black;
    border-radius: 7px;
    top: 22px;
    left: -1px;
    width: 108px;
    max-height: 90px;
    padding: 1px;
    overflow-y: scroll;
}

.serverSelector .all-options p {
    border-radius: 3px;
    height: 15px;
    margin: 1px;
    line-height: 15px;
    color: black;
}

.serverSelector .all-options p:hover{
    background-color: black;
    color: white;
}

.serverSelector .chosen-option p {
    font-weight: 500;
    font-size: 11px;
    margin: 0;
    line-height: 20px;
    cursor: pointer;
}

.serverSelector .chosen-option:hover{
    font-weight: 700 !important;
}
