.App .settingsPage {
    
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E7F1FA;
  }

  .App .settingsPage .Title {
    color: black;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 2.3px;
    margin: 30px 0px 10px 0px;
  }

  .App .settingsPage .backBtn {
      position: absolute;
      left: 12px;
      top: 10px;
  }

  .App .settingsPage .backBtn .backIcon {
      height: 23px;
      margin: auto;
      background-color: transparent;
  }

  .App .settingsPage .settingsBtns {
      display: inline-flex;
      flex-direction: column;
  }

  .App .settingsPage .settingsBtns .greyBtn {
      transition: 0.3s;
      height: 28px;
      background-color: #585858;
      border-radius: 10px;
      border: 1px solid #585858;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 1px -25px;
      color: white;
      cursor: pointer;
  }

  .App .settingsPage .settingsBtns .greyBtn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
  }

  .App .settingsPage .settingsBtns .greyBtn p {
      font-size: 11px;
      letter-spacing: 0.5px;
  }

  .App .settingsPage .settingsBtns .redBtn {
    transition: 0.3s;
    height: 28px;
    background-color: #CC5555;
    color: white;
    border: 1px solid #CC5555;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0px;
    cursor: pointer;
  }

  .App .settingsPage .settingsBtns .redBtn:hover {
    background-color: white;
    color: #CC5555; 
}

  .App .settingsPage .settingsBtns .redBtn p {
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin: 0px 10px;

  }