.App .settingsPage {
    
    border: 1px solid black;
    background-color: #E7F1FA;
  }

  .App .settingsPage .Title {
    color: black;
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 2.3px;
    margin: 30px 0px 10px 0px;
  }

  .App .settingsPage .settingsBtns {
      display: inline-flex;
      flex-direction: column;
  }

  .App .settingsPage .settingsBtns .greyBtn {
      transition: 0.3s;
      height: 28px;
      background-color: #585858;
      border-radius: 10px;
      border: 1px solid #585858;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 1px -25px;
      color: white;
      cursor: pointer;
      text-decoration: none;
  }

  .App .settingsPage .settingsBtns .greyBtn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
  }

  .App .settingsPage .settingsBtns .greyBtn p {
      font-size: 11px;
      letter-spacing: 0.5px;
  }