.websiteCard {
    height: 20px;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    
    cursor: pointer;
    margin: 2px;
    padding: 0px 2px;
}

.websiteCard:hover {
    border: 1px solid white;
}

.websiteCardWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 2px;
}

.websiteCardWrapper img {
    width: 16px;
    height: auto;
}

.websiteCardWrapper text {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0 2px;
}
