.loader img {
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 7vw;
    animation: loader-pulse 1s infinite alternate, progressive 0.5s;
    z-index: 1001;
}

@keyframes progressive {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 80%;
    }
}


@keyframes loader-pulse {
    0% {
        filter: contrast(100%) brightness(20%);
    }

    100% {
        filter: contrast(150%) brightness(100%);
    }
}


