.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 190px;
  width: 350px;
  font-family: "Helvetica Neue";
}


.App .Logo { 
  width: 30px;
  margin: 10px auto 3px auto;
}


.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}


.page {
  position: absolute;
  height: 190px;
  width: 350px;
}
