@font-face {
  font-family: Helvetica;
  src: url('./assets/Helvetica.woff');
}

.App {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 192px;
  width: 352px;
  font-family: Helvetica;
}

.page {
  position: absolute;
  height: 190px;
  width: 350px;
}