
body {
  background-color: orange;
}

.App {
  position: fixed;
  z-index: 999999;
  text-align: center;
  margin: 0;
  padding: 0;
  animation: fade-in 0.5s;
}

.App .certificate-info > img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  transition: 0.3s;
}

.App .certificate-info{
  top: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 25px;
  background-color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.App .certificate-info .left {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 5px;
  width: 90px;
  left: -90px;
  border-top-right-radius: 25px;
  border-top: 2px solid black;
  box-shadow: 25px 0 0 0 black; /* This is where the magic happens! */
  transition: 0.3s;
}

.App .certificate-info .right {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 5px;
  width: 90px;
  right: -90px;
  border-top-left-radius: 25px;
  border-top: 2px solid black;
  box-shadow: -25px 0 0 0 black; /* This is where the magic happens! */
  transition: 0.3s;
}

.App .certificate-info:hover > img{
  opacity: 0;
}

.App .certificate-info:hover{
  animation: certificate-expand 1s;
  height: 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.App .certificate-info:hover .left, .App .certificate-info:hover .right {
  height: 25px;
}

.App .certificate-info .content{
  height: 100%;
  margin: 0 20px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.App .certificate-info:hover .content{
  opacity: 1;
}

.App .certificate-info .content p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.App .certificate-info .content .row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App .certificate-info .content .column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .certificate-info .content .info .type{
  width: 42px;
  height: 42px;
  border-radius: 10px;
  position: relative;

}

.App .certificate-info .content .info .type > p{
  position: absolute;
  top: 53%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.App .certificate-info .content .info > p{
  font-size: 11px;
  width: 80px;
  color: white;
}

.App .certificate-info .content .separator{
  width: 1px;
  height: 40px;
  background-color: white;
  margin: 0 5px;
}

.App .certificate-info .content .qwac > p{
  font-size: 11px;
  color: white;
}

.App .certificate-info .content .status{
  height: 16px;
  margin-left: 5px;
}

.App .certificate-info .info, .App .certificate-info .issuer{
  width: 50%;
}

.App .certificate-info .issuer > p{
  font-size: 14px;
  width: 130px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
  letter-spacing: 1px;
}


.App .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 20px;
  cursor: pointer;
  
}

.App .close-btn > img {
  height: 20px;
  transition: 0.3s;
}

.App .close-btn:hover > img {
  transform: scale(1.2);
}

.App .popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}

.App .popup-content {
  margin-top: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App .popup-content > p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 1.6vw;
  margin: 10px;
  transition: 0.2s;
}

.App .popup-content > img {
  height: 14vw;
  margin-top: 1vw;
}

.App .report-page{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App .report-page-form {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1vw;
  width: 30vw;
  color: white;
  padding: 0;
  margin: 0 auto;
  transition: 0.3s;


}


.App .report-page-form .report-page-url > p{
  font-size: 1.3vw;
  letter-spacing: 1px;
  padding: 1vw 0 1vw 0;
  margin: 0;
  font-weight: 600;
}

.App .report-page-form .separator {
  width: 85%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: white;
}

.App .report-page-form .report-reason{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.App .report-page-form .report-reason > p {
  font-size: 1.1vw;
  margin: 0;
  margin-right: 1vw;
  padding: 1vw 0 1.1vw 0;
  letter-spacing: 1px;
}

.App .report-page-form .report-description {
  overflow: hidden;
  transition: 0.4s;
}

.App .report-page-form .report-description textarea {
  background-color: transparent;
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-size: 1.1vw;
  padding: 1vw 2.5vw 1vw 2.5vw;
  margin: 0;
  letter-spacing: 1px;
}

.App .report-page-form .report-description textarea{
  font-size: 0.8vw;
}

.App .report-page-form .report-description textarea::placeholder{
  text-align: center;
}


.App .popup-content .cancel-btn,
.App .report-page .report-btn {
  margin-top: 1vw;
  width: 8vw;
  background-color: red;
  color: white;
  border-radius: 0.7vw;
  border: 3px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

.App .popup-content .cancel-btn,
.App .report-page .report-btn > p{
  letter-spacing: 1px;
  font-size: 0.8vw;
  font-weight: 600;
}

.App .popup-content .cancel-btn:hover,
.App .report-page .report-btn:hover {
  border: 3px solid white
}

.App .popup-content .status,
.App .report-page .status {
  color: white;
  letter-spacing: 1px;
  font-size: 1vw;
}

.App #pointing-arrow{
  position: absolute;
  right: 160px;
  top: 20px;
  height: 1.5vw;
  transform: rotate(325deg);
  animation: pointing 0.8s infinite alternate;
}



@keyframes pointing {
  0% {
    transform: rotate(325deg);
  }
  100% {
    transform: translate(-10px, 10px) rotate(325deg);
  }
}

.App .pulsing-btn{
  animation: pulsing 1s infinite alternate;
}

@keyframes pulsing {
  0% {
    border: 3px solid transparent;
    background-color: rgb(202, 135, 10);
  }
  60%, 100% {
    border: 3px solid white;
    background-color: rgb(137, 92, 7);
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

